<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curso de vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>    
    <div id="app">
        <br><br><br>

        <div class="container">
            <h3 ref="title">{{ titulo }}</h3>

            <ul>
                <li><router-link :to=" { name: 'transformers' }">Transformers</router-link></li>
                <li><router-link :to=" { name: 'gameOfThrones' }">Game of Thrones</router-link></li>
            </ul>

            <router-view></router-view>
        </div>
    </div>

    <template id="transformers">
        <div>
            <h4>Transformers</h4>
            <ul>
                <li v-for="item in transformers">
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <h4>Game Of Thrones</h4>
            <ul>
                <li v-for="item in gameOfThrones">
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    
    <script>

        var Transformers = Vue.component('transformers', {
            template: '#transformers',
            data(){
                return {
                    transformers: [
                        { name: "Optimus Prime" },
                        { name: "Bumble Bee" },
                        { name: "Megatron" }
                    ]
                }
            }            
        });

        var GameOfThrones = Vue.component('game-of-thrones', {
            template: '#gameOfThrones',
            data(){
                return {
                    gameOfThrones: [
                        { name: "Jon Snow" },
                        { name: "Daenerys Targaryen" },
                        { name: "Tyron" }
                    ]
                }
            }
        });

        // para funcionar o mode: 'history', precisa rodar em um servidor
        var router = new VueRouter({
            mode: 'history',
            routes: [
                { path: '/transformers', name: "transformers", component: Transformers },
                { path: '/game-of-thrones', name: "gameOfThrones", component: GameOfThrones }
            ]
        });

        var app = new Vue({
            el: "#app",

            router,

            data:  {
                titulo: "Vuejs do jeito ninja",
            },

            methods: {
               
            }
        });
    </script>
</body>
</html>